<%= form_for(:session, :url => sessions_path) do |f| %>

    <fieldset>
        <div class="field">
            <%= f.label :email %><br />
            <%= f.text_field :email, { :size => 50 } %>
        </div>
        <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, { :size => 50 } %>
        </div>
    </fieldset>
    <fieldset>
        <div class="actions">
            <%= f.submit "Sign in" %>
        </div>
    </fieldset>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>